.title {
  padding: 60px;
  font-size: 25px;
  text-align: center;
  font-family: "Times New Roman"; 
}

.images {
  padding: 60px;
  font-size: 25px;
  text-align: center;
  font-family: "Lucida Handwriting";
  background: #86b1bf;
}
           